@media all and (max-width: 1200px) {
    #portfolio .background {
        width: 50%;
    }
    
    #portfolio .background:last-child {
        width: 100%;
    }
}

@media all and (max-width: 992px) {
    #zdjecie_sekcja, #tekst_sekcja {
        width: 100%;
        float: none;
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    #portfolio .background {
        width: 100%;
    }
    
    #form, #kontakt {
        width: 100%;
        text-align: center;
    }
    
    #menu .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right''
    }
      
    #menu ul {
        display: none;
    }
    
    #menu #drop:checked + ul {
        display: block;
    }
    
    #menu ul .menu_list {
        display:block;
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: right;
    }
    
}

@media all and (max-width: 576px) {
    
  
}
