@media all and (max-width: 1170px) {

    #container {
        height: 70vh;
        background-image: url('../rwd-materialy/man-2-800x500.jpg');
        background-position: center top;
    }
    
    #tekst {
        right: 40px;
    }
}
    
@media all and (max-width: 992px) {

    #container {
        position: relative;
        height: 50vh;
        background-image: url('../rwd-materialy/obrazy/man-1-800x500.jpg');
    }
    
    h1, h2 {
        color: black;
    }
    
    #tekst {
        position: relative;
        float: none;
        text-align: center;
        right: auto;
    }
}