* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

#main {
    position: relative;
    text-align: left;
    height: 900px;
}

figure {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

#obrazek-1 {
    z-index: 1;
}

#obrazek-2 {
    z-index: 0;
}

#tekst {
    position: absolute;
    top: 50%;
    z-index: 3;
}

h1, h2 {
    font-family: 'verdana';
    font-size: 5vh;
    color: white;
    text-transform: uppercase;
    margin: 15px;
    letter-spacing: 1mm;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: 100;  
}