* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #98fb98;
}

#tlo {
    top: 100px;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.produkt {
    display: inline-block;
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 3px;
    margin-top: 50px;
}

#obrazek-1 {
    background-image: url("../obrazki/product-1.jpg");
    
}

#obrazek-2 {
    background-image: url("../obrazki/product-2.jpg");
    
}

#obrazek-3 {
    background-image: url("../obrazki/product-3.jpg");
    
}

#obrazek-4 {
    background-image: url("../obrazki/product-4.jpg");
    
}

.mask {
    background-color: rgba(255, 111, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: linear 0.5s;
    
}

.koszyk {
    position: relative;
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    text-decoration: none;
    width: 100%;
    left: 0;
    color: white;
    top: 40%;
}

.mask:hover {
    opacity: 1;
}