* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
}

#container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#wrap {
    display: flex;
    flex-flow: row wrap;
    
}

header {
    line-height: 40px;
    width: 100%;
    background-color: red;
 }

#left {
    width: 20%;
    background-color: green;
}

#main {
    width: 60%;
    background-color: aqua;
    }

#right {
    width: 20%;
    background-color: pink;
}

footer {
    line-height: 40px;
    width: 100%;
    background-color: blueviolet;
}
